# Python
__pycache__/
*.py[cod]

# Virtual environments
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*
!.env.example
backend/weather_auth.db

# IDE
.vscode/

# OS files
.DS_Store
Thumbs.db

# Large/raw data
data/raw/

models/random_forest.pkl
